<li class="product-list-item">
	<a href="{{url}}">
		<img src="{{#if image}}{{image.outfit}}{{else}}{{images.small}}{{/if}}" alt="{{name}}">
	</a>

	<a href="{{url}}" class="product-list-item-details">
		<h4>{{designer}}</h4>
		<h3>{{name}}</h3>
		<h5>{{price}}</h5>
	</a>
</li>