{{!< default}}

<header class="main-header">
	<input type="text" class="product-search" placeholder="...{{placeholderText}}">
</header>

<div class="container">

<aside>
	<h5>Sort by:</h5>
	<ul class="product-list-sort">
		{{#each sortingFilters}}
			<li>
				<a {{#if isActive}}class="product-list-sort-active"{{/if}} href="/{{#unless isActive}}{{{url}}}{{/unless}}">{{text}}</a>
			</li>
		{{/each}}
	</ul>

	<ul class="product-list-designer-filter">
		{{#each designersWithIds}}
			<li>
				<input type="checkbox" name="{{id}}" id="{{id}}" value="{{name}}">
				<label for="{{id}}">{{name}}</label>
			</li>
		{{/each}}
	</ul>
</aside>

<ul
	class="product-list"
	data-offset="{{products.offset}}"
	data-limit="{{products.limit}}"
	data-total="{{products.total}}"
>
	{{#each products.data}}
		{{> productItemList}}
	{{/each}}
</ul>

</div><!-- container -->

{{> scripts}}
