{{!< default}}

<header class="main-header">
	<input type="text" class="product-search" placeholder="...{{placeholderText}}">
</header>

<div class="container">

{{!-- 
{{products.offset}}
{{products.limit}}
{{products.total}}
 --}}

<aside>
	<ul class="product-list-designer-filter">
		{{#each designersWithIds}}
			<li>
				<input type="checkbox" name="{{id}}" id="{{id}}" value="{{name}}">
				<label for="{{id}}">{{name}}</label>
			</li>
		{{/each}}
	</ul>
</aside>

<ul class="product-list">
	{{#each products.data}}
		{{> productItemList}}
	{{/each}}
</ul>

</div><!-- container -->