{{!< default}}
<div class="container">

{{products.offset}}
{{products.limit}}
{{products.total}}


<ul class="product-list">
	{{#each products.data}}
		<li class="product-list-item">
			<a href="{{url}}">
				<img src="{{image.outfit}}" alt="{{name}}">
			</a>

			<a href="{{url}}" class="product-list-item-details">
				<h4>{{designer}}</h4>
				<h3>{{name}}</h3>
				<h5>{{price}}</h5>
			</a>
		</li>
	{{/each}}
</ul>

</div>